/* Basic Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Geist';
    src: url('fonts/GeistVF.woff2') format('woff2'),
         url('fonts/GeistVF.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
}

.be-vietnam-pro-thin {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .be-vietnam-pro-extralight {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .be-vietnam-pro-light {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .be-vietnam-pro-regular {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .be-vietnam-pro-medium {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .be-vietnam-pro-semibold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .be-vietnam-pro-bold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .be-vietnam-pro-extrabold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .be-vietnam-pro-black {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .be-vietnam-pro-thin-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .be-vietnam-pro-extralight-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .be-vietnam-pro-light-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .be-vietnam-pro-regular-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .be-vietnam-pro-medium-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .be-vietnam-pro-semibold-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .be-vietnam-pro-bold-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .be-vietnam-pro-extrabold-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .be-vietnam-pro-black-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

html, body {
    height: 100%;
    font-family: 'Geist', 'SF Pro Display', 'Be Vietnam Pro', sans-serif;
    color: #F0F0F0;
    background-color: #0F0F0F;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden; /* This will clip anything that goes outside the viewport */
}

.scrollable-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow-y: scroll; /* Enable scrolling within this div */
    overflow-x: hidden; /* Prevent horizontal overflow */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS devices */
}

.noise-overlay {
    content: "";
    position: fixed;
    top: -12.5%; 
    left: -12.5%;
    z-index: 1;
    width: 125%; 
    height: 125%;
    background: url('/assets/animations/noise.png') repeat center center;
    opacity: 0.1;
    animation: noiseMovement 0.09s steps(6) infinite;
    pointer-events: none;
}

@keyframes noiseMovement {
    0%, 100%  { transform: translate(0,0); }
    10%       { transform: translate(0%,-10%); }
    30%       { transform: translate(-10%,5%); }
    50%       { transform: translate(0%,10%); }
    70%       { transform: translate(10%,-5%); }
    90%       { transform: translate(10%,5%); }
}

:root {
    --spring: #00FF7F;
    --spring-extra-light: #D6FFEB;
    --spring-extra-dark: #004724;
    --spring-trp-5: rgba(0, 255, 127, 0.05);
    --white-trp-5: rgba(255, 255, 255, 0.05);
    --white-trp-30: rgba(255, 255, 255, 0.3);
    --white: #FFFFFF;
    --white-text: #F0F0F0;
    --grey-text: #808080;
    --background: #0F0F0F;
}

/* Layout */
header, footer, main {
    padding: 48px 64px;
}

/* Header */
.header-content {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

/* JSON */
#user-avatar {
    width: 72px;
    height: 72px;
}

.user-info {
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.user-name {
    color: var(--white-text, #F0F0F0);

    /* Medium/Subheading */
    font-family: Geist;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    letter-spacing: -0.26px;
}

.user-description {
    color: var(--grey-text, #808080);

    /* Medium/Button */
    font-family: Geist;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    letter-spacing: -0.22px;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
}

.about-container {
    padding-bottom: 40px;
}

.about-text {
    margin-bottom: 40px;
    color: var(--white-text, #F0F0F0);

    /* Medium/Heading */
    font-family: Geist;
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.8px;
}

.about-buttons {
    display: flex;
    gap: 4px;
}

/* Footer */
.footer-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
}

/* Buttons */
.button {
    font-family: Geist;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    cursor: pointer;
    outline: 0;
    border: 0;
    padding: 20px 24px;
    border-radius: 17px;
    transition: 0.3s;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: -0.22px;
    color: var(--white-text);
    gap: 12px;
}

.primary {
    background-color: var(--spring);
    width: 194px;
    font-weight: 500;
    border-radius: 19px;
    padding: 28px 56px;
    color: var(--background);
    order: 1;
}

.primary:hover {
    background-color: var(--spring-extra-light);
    color: var(--spring-extra-dark);
    box-shadow: 0px 2px 40px 1px rgba(107, 251, 104, 0.20), 0px 5px 36px 0px #67FB64 inset;
}

.secondary {
    background-color: var(--spring-trp-5);
    width: 194px;
    font-weight: 400;
    border-radius: 19px;
    padding: 28px 56px;
    color: var(--spring);
    order: 2;
}

.secondary:hover {
    background-color: var(--spring);
    color: var(--spring-extra-dark);
}

.tertiary {
    background-color: var(--white-trp-5);
}

.tertiary:hover {
    background-color: var(--white-trp-30);
    color: var(--white);
}

.tertiary .svg {
    fill: var(--white-text); 
    width: 24px;
    height: 24px;
}

.tertiary:hover .svg {
    fill: var(--white);
}

/* Breakpoints */
@media (max-width: 431px) {
    
    header, footer, main {
        padding: 24px 16px;
    }

    /* Header */
    .header-content {
        gap: 18px;
    }

    /* JSON */
    #user-avatar {
        height: 60px;
        display: none;
    }

    .user-info {
        gap: 10px;
        padding-top: none;
        width: 100%;
        align-items: center;
    }
    
    .user-name {
        /* Small/Subheading */
        font-size: 22px;
        line-height: 22px;
        letter-spacing: -0.22px;
    }

    .user-description {
        /* Small/Button */
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.18px;
    }
    
    .br2 {
        display: none;
    }

    /* Main */
    main {
        max-width: 100%;
    }
    
    .about-container {
        max-width: 100%;
        padding-top: 20px;
        padding-bottom: 16px;
    }
    
    .about-text {
        margin-bottom: 32px;
        text-align: center;

        /* Small/Heading */
        font-size: 25px;
        line-height: 34px;
        letter-spacing: -0.5px;
    }

    .about-buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    /* Footer */
    .footer-buttons {
        display: grid;
        grid-template-rows: auto auto auto;  /* Creates three rows */
        grid-template-columns: 1fr 1fr;  /* Two columns each of equal width */
        gap: 4px;  /* Space between the buttons */
    }

    .footer-buttons > *:first-child {
        grid-column: 1 / -1;  /* Makes the first button span the entire row */
    }

    .footer-buttons > *:nth-child(2),
    .footer-buttons > *:nth-child(3) {
        grid-row: 2;  /* Places the second and third buttons on the second row */
    }

    .footer-buttons > *:nth-child(4),
    .footer-buttons > *:nth-child(5) {
        grid-row: 3;  /* Places the fourth and fifth buttons on the third row */
    }
    
    /* Small Buttons */
    .button {
        padding: 20px 24px;
        border-radius: 15px;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.18px;
        gap: 10px;
    }

    .primary {
        width: 100%;
        border-radius: 17px;
        padding: 24px 56px;
        order: 2;
    }

    .primary:hover {
        box-shadow: 0px 2px 40px 1px rgba(107, 251, 104, 0.20), 0px 5px 36px 0px #67FB64 inset;
    }

    .secondary {
        width: 100%;
        border-radius: 17px;
        padding: 24px 56px;
        order: 1;
    }

    .tertiary .svg {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 412px) and (max-width: 432px) {

    header, footer, main {
        padding: 24px 24px;
    }
    
    .about-text {
        margin-left: 2px;
        margin-right: 2px;
    }
}

@media (min-width: 432px) and (max-width: 1366px) {

    header, footer, main {
        padding: 48px 40px;
    }
    
    /* Main */
    .about-container {
        padding-bottom: 0;
    }
    
    .about-text {
        margin-bottom: 32px;

        /* Small+/Heading */
        font-size: 30px;
        line-height: 46px;
        letter-spacing: -0.6px;
    }
    
    /* Buttons */
    .primary {
        /* Small Buttons */
        width: 194px;
        border-radius: 17px;
        padding: 24px 56px;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.18px;
        
    }

    .primary:hover {
        box-shadow: 0px 2px 40px 1px rgba(107, 251, 104, 0.20), 0px 5px 36px 0px #67FB64 inset;
    }

    .secondary {
        /* Small Buttons */
        width: 194px;
        border-radius: 17px;
        padding: 24px 56px;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.18px;
    }
}

@media (max-width: 760px) {
.br2 {
display: none;
}
}

@media (min-width: 3840px) {

    header, footer, main {
        padding: 64px 80px;
    }

    /* Header */
    .header-content {
        gap: 36px;
    }
    
    /* JSON */
    #user-avatar {
        height: 112px;
    }
    
    .user-info {
        gap: 18px;
    }

    .user-name {
        /* Large/Subheading */
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.4px;
    }

    .user-description {
        /* Large/Button */
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -0.32px;
    }

    /* Main */
    .about-container {
        padding-bottom: 104px;
    }

    .about-text {
        margin-bottom: 64px;

        /* Large/Heading */
        font-size: 56px;
        line-height: 76px;
        letter-spacing: -1.12px;
    }

    /* Large Buttons */
    .button {
        padding: 30px 36px;
        border-radius: 25px;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -0.32px;
        gap: 20px;
    }

    .primary {
        width: 302px;
        height: 116px;
        border-radius: 28px;
        padding: 42px 84px;
    }

    .primary:hover {
        box-shadow: 0px 2px 40px 1px rgba(107, 255, 127, 0.20), 0px 5px 36px 0px #67FB64 inset;
    }

    .secondary {
        width: 302px;
        height: 116px;
        border-radius: 28px;
        padding: 42px 84px;
    }

    .tertiary .svg {
        width: 36px;
        height: 36px;
    }
}

@media (min-width: 3840px) {

header, footer, main {
padding: 72px 96px;
}
}